version: '3.3'

networks:
  proxy:       
    external: false
    name: proxy

services:

  mysql_db:
    image: mysql:8.0.19
    restart: unless-stopped
    volumes:
      - db_data:/var/lib/mysql
      - ./database/testdump.sql:/docker-entrypoint-initdb.d/testdump.sql
    env_file:
      - .env
    environment:
      - MYSQL_DATABASE=$MYSQLDB_DATABASE
      - MYSQL_ROOT_PASSWORD=$MYSQLDB_ROOT_PASSWORD
    ports:
      - $MYSQLDB_LOCAL_PORT:$MYSQLDB_DOCKER_PORT
    networks:
      - proxy

  backend:
    build: .
    container_name: backend
    restart: unless-stopped
    env_file: .env
    ports:
      - $NODE_LOCAL_PORT:$NODE_DOCKER_PORT
    # expose:
    #   - "8082"
    environment:
      - DB_HOST=mysql_db
      - DB_USER=$MYSQLDB_USER
      - DB_PASSWORD=$MYSQLDB_ROOT_PASSWORD
      - DB_NAME=$MYSQLDB_DATABASE
      - DB_PORT=$MYSQLDB_DOCKER_PORT
      # - HTTPS_METHOD=redirect   
      # - VIRTUAL_HOST=walocho.co.ke
      # - VIRTUAL_PATH=/api
      # - LETSENCRYPT_HOST=walocho.co.ke
      # - LETSENCRYPT_EMAIL=naxoduor7@gmail.com

    networks:
      - proxy

    depends_on:
      - mysql_db
volumes:
   db_data:



